version: "3"
services:
  mysql:
    image: mysql:5.7
    deploy:
      restart_policy:
        condition: on-failure
    networks:
      - webnet
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: {{magento_db_password}}
      MYSQL_DATABASE: {{magento_db_name}}
      MYSQL_USER: {{magento_db_user}}
      MYSQL_PASSWORD: {{magento_db_password}}
    volumes:
      - "./db:/var/lib/mysql"
  metricbeat:
    image: docker.elastic.co/beats/metricbeat:6.1.2
    deploy:
      restart_policy:
        condition: on-failure
      networks:
        - webnet
    volumes:
      - "/etc/metricbeatscfg:/usr/share/metricbeat"
networks:
  webnet
